services:
  app:
    build:
      tags:
        - db-backuper:dev
      context: .
      dockerfile: .deploy/development/Dockerfile
    ports:
      - "${APP_PORT:-9033}:80"
    environment:
      APP_NAME: ${APP_NAME:-"DB Backuper"}
      APP_ENV: ${APP_ENV:-local}
      APP_DEBUG: ${APP_DEBUG:-true}
      APP_KEY: ${APP_KEY}
      APP_PORT: ${APP_PORT:-9033}
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/database/database.sqlite
    volumes:
      - '.:/var/www/html'
